<div class="container" style="padding:20px;">
  <!-- <div class="row" style="border: 0px solid #73100b;padding: 20px;">
      <div class="col-12" style="background: linear-gradient(to right,#73100b, #e01e1e);
      color: antiquewhite;">  
          <h2>
        Investors, businesses and advertisers
      </h2>
      </div>
    <div class="col-6" style="background:whitesmoke ;color: #336688;border: 1px dashed;">  
                <h3>EMEA</h3>
        <p>
          Mubashir Raja
          <b>+44 7805 638 879</b>
          <br />Contact us @
          <a href="mailto:mubashir.raja@logicloud.co.uk">
              mubashir.raja@logicloud.co.uk
          </a> for further information
        </p>
  
    </div>
    <div class="col-6" style="background:whitesmoke ;color: #336688;border: 1px dashed;">
        <h3>AMERICAS</h3>
        <p>
            Saqib Umar
          <b>+52 331 723 6231</b>
          <br />Contact us @
          <a href="mailto:info@noozter.com">
              info@noozter.com
          </a> if you are in Americas
          <br>
          Contact us with <a href="http://programmingalternatives.com/ContactUs.aspx">message form</a>
        </p>
    </div>
  </div> -->
  <div class="row">
    &nbsp;
  </div>
  <div class="row" style="border: 0px solid #336699;
  padding: 20px;">
    <div class="col-12" style="background: linear-gradient(to right,#0a0e3b, #535fde);color: antiquewhite;">
<h2>
    Suggestions & General inquiries about noozter
  </h2>
    </div>
  <div class="col-12" style="padding-top:40px;text-align: center;;background: lightyellow;color: #336688;border: 1px dashed;height:200px;">
    <p>
      Write us at <a href="mailto:info@noozter.com">info@noozter.com</a> for any questions and suggestions.
    </p>
    </div>
  </div>
</div>