<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom responsive-footer">
  <div class="navbar-expand m-auto navbar-text">
    <!-- Made with <i class="fa fa-heart"></i> --> Created by <a href="https://logicloud.mx/">Logicloud</a> & <a href="https://programmingalternatives.com/">ProgrammingAternatives.com</a>
  </div>
</nav>

<div class="container" style="padding-bottom: 60px;">
  <div class="row" style="overflow: scroll;">
    <div class="col">
      <span>Google Adevertisements</span>
      <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3004809974488691"
        data-ad-slot="1820584528"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <span>End of Google Adevertisements</span>
    </div>
  </div>
</div>
