.fa-heart {
    color: hotpink;
  }

  @media screen and (max-width: 420px) {
    .responsive-footer {
        font-size: 3vw;
    }
    nav {
      max-height: 28px;
    }
    .mt-5, .my-5 {
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  @media screen and (max-height: 500px) {
    nav {
      position: relative;
    }
  }

  @media screen and (max-height: 650px) {
    nav {
      position: relative;
    }
  }