.fa-heart {
    color: hotpink;
  }

  @media screen and (max-width: 420px) {
    .responsive-footer {
        font-size: 3vw;
    }
    nav {
      max-height: 28px;
    }
    .mt-5, .my-5 {
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  @media screen and (max-height: 500px) {
    nav {
      position: relative;
    }
  }

  @media screen and (max-height: 650px) {
    nav {
      position: relative;
    }
  }




  /* Ads*/
.ads_resp {
  width: 320px;
  height: 100px;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .ads_resp {
    width: 480px;
    height: 60px;
  }
}
@media (min-width: 900px) {
  .ads_resp {
    width: 900px;
    height: 90px;
  }
}