<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Noozter <img style="width: 2rem;" src="{{country_flag}}" /></a> 
  <h3 class="country_heading" *ngIf="selectedCountry">(Watcing {{selectedCountry}})</h3>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item geo-links-main">
        <a class="nav-item nav-link" href="/world-nooz/{{lat}}/{{lon}}">Nearby</a>
      </li>
      <li class="nav-item geo-links-main">
        <a class="nav-item nav-link" href="/world-nooz/{{countryCode}}">{{country}}</a>
      </li>

      <li class="nav-item geo-links-main">
        <a class="nav-item nav-link" href="/trending-nooz">Trending</a>
      </li>

      <li class="nav-item geo-links-main">
        <a class="nav-item nav-link" href="/world-nooz">Worldwide</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/privacy">Privacy Policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/terms">Terms</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/contact">Contact</a>
      </li>

      <!-- <li class="nav-item">
          <a class="nav-item nav-link" href="#">I am interested</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form> -->
    <a
      class="nav-item nav-link"
      href="https://x.com/noozter"
      target="_blank"
    >
      <i class="fa fa-brands fa-x-twitter"></i>
    </a>
  </div>
</nav>
<!-- <hr /> -->
<div class="container">
  <div class="row geo-links">
    <div class="col">
      <ul class="navbar-nav mr-auto" style="flex-direction: row;">
        <li class="nav-item">
          <a class="nav-item nav-link" href="/world-nooz/{{lat}}/{{lon}}">Nearby</a>
        </li>
        <li class="nav-item">
          &nbsp;&nbsp;
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="/world-nooz/{{countryCode}}">{{country}}</a>
        </li>
        <li class="nav-item">
          &nbsp;&nbsp;
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="/trending-nooz">Trending</a>
        </li>
        <li class="nav-item">
          &nbsp;&nbsp;
        </li>  
        <li class="nav-item">
          <a class="nav-item nav-link" href="/world-nooz">Worldwide</a>
        </li>
  
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-1" *ngIf="showSearch===undefined || (showSearch && (allNoozShared.length || trendingNoozShared.length))">
      <a href="javascript:history.back()" style="position: absolute; top: 15px;" *ngIf="(allNoozShared.length || trendingNoozShared.length)"> <i class="fa fa-arrow-left"></i> </a>
      <a href="/home" style="position: absolute; top: 15px;" *ngIf="(!allNoozShared.length && !trendingNoozShared.length)"> <i class="fa fa-arrow-left"></i> </a>
    </div>
    <div class="col" *ngIf="(showSearch && (allNoozShared.length || trendingNoozShared.length))" style="margin-top: 10px;">
      <form class="form-inline my-2 my-lg-0" [formGroup]="filterForm">
        <input
          class="form-control mr-sm-2"
          type="text"
          placeholder="Search"
          aria-label="Search"
          formControlName="filterInput"
          style="width: 100%;"
        />
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="updateValue">
          Search
        </button> -->
        <p *ngIf="isTyping">..........</p>
      </form>
    </div>
    <div class="col text-right" style="height: 40px">
      <!-- <a href="https://apps.apple.com/us/app/noozter/id1450430657?ls=1">
        <img
          alt="Get it on Apple store"
          class=""
          style="height: 60px"
          id="logo-img"
          src="https://developer.apple.com/app-store/marketing/guidelines/images/badge-example-preferred_2x.png"
        />
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.noozter">
        <img
          alt="Get it on Google Play"
          class=""
          style="height: 60px"
          id="logo-img"
          src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"
        />
      </a> -->
    </div>
  </div>
</div>
