<div class="container body">
<div class="jumbotron">
  <h1>[Noozter]</h1>
  <p class="lead">Welcome to the social news platform where you are Everything!</p>
  
</div>

<div class="row">
  <div class="col-md-4">
      <h2>Around you</h2>
      <p>
          Know what is happening around you. Local posts created by the locals are at your finger tips.
      </p>
      
  </div>
  <div class="col-md-4">
      <h2>Share with the world</h2>
      <p>Spotted something which could benefit others. Why not post it on Noozter. You can generate post which get 
      instantly shared to the community.</p>
      
  </div>
  <div class="col-md-4">
      <h2>Relevant</h2>
      <p>You can like or dislike a post. Noozter will improve the posts delivered to you by learning your usage.</p>
      
  </div>
  <hr style="border: 1px solid green; border-radius: 5px; width: 100%" />
  <app-all-nooz referer="home"></app-all-nooz>
</div>

</div>