<hr/>
<div class="container-fluid py-3">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-8 col-sm-12 col-xs-12"><h1>Map view</h1></div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <span>{{title}}</span>
        <div class="app-autocomplete">
          <app-autocomplete
            [data]="mapPlaces"
            [searchKeyword]="keyword"
            placeHolder="Enter the place name"
            iconName = "search"
            (selected)='selectEvent($event)'
            (inputChanged)='onChangeSearch($event)'
            (inputFocused)='onFocused($event)'
            historyIdentifier="mapPlaces"
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate" 
            [style]="{opacity: loadingMapResults? 0.5: 1}">
          </app-autocomplete>

          <div class="spinner-border" role="status" 
            *ngIf="loadingMapResults"
            style="position: absolute; z-index: 999; top: 27px; right: 18px;">
            <span class="sr-only">Loading...</span>
          </div>
        
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.display_name"></a>
          </ng-template>
        
          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>
    </div>
  
  <div id="map"></div>
</div>
